{% load static %}
<!DOCTYPE json>
<html>
<head>
	<title>Hey Tamir</title>
	<script>
		function sendData() {
			var data = document.getElementById('text').value;
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/');
			xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xhr.onload = function() {
				if (xhr.status === 200) {
					console.log('Data sent');
				} else {
					console.log('Error: ' + xhr.status);
				}
			};
			xhr.send('text=' + data);
		}
	</script>
	<script>
fetch('')
    .then(response => response.json())
    .then(data => {
        const message = data.message;
        const messageList = document.getElementById('messageList');
        const messageItem = document.createElement('li');
        messageItem.innerText = message;
        messageList.appendChild(messageItem);
    })
    .catch(error => console.error(error));
	</script>
</head>
<body>
	<h1 style="font-family:calibri light">Hey Tamir</h1>
	
	<form>
		<label for="text" style="font-family:calibri light">Enter text:</label>
		<input type="text" id="text" name="text"><br><br>
		<input type="button" style="font-family:calibri light" value="Send To Server" onclick="sendData()">
		</p>		
	</form>
	<ul id="messageList"></ul>
</body>
</html>
